@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');


* {
    margin:0px;
    padding: 0px;
}

body {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 14pt;
}

.navigation {
    width: 100%;
    height: 40px;
    background-color: beige;
    color:#333;
    
    position: fixed;
    z-index: 100
}

.navigation li {
    text-align: center;
    clear:left;
    list-style-type: none;
    display: inline-block;
    padding:10px;
}

.navigation a {
    color: #333;
    position: relative;
    text-decoration: none;
}

.navigation a:hover {
    color:white;
    transition: 1.2s;
}

#hakkimda {
   background-image:url("https://images.unsplash.com/photo-1562504208-03d85cc8c23e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
   background-size: cover;
   background-position: center center;
   font-size: 30pt;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
   position: relative;
   text-align: center;
   
}
#hakkimda p {
    width: 450px;
    height: 600px;
    font-size: 16pt;
    top: 55vh;
    position: absolute;
}

.beige {
    width: 100%;
    height: 150px;
    background-color: beige;
}
#sosyal h2 {
    margin: 0px;
    font-size: 30pt;
    position: relative;

    text-align: center;
}
ul {
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li  {
    list-style-type: none;
    display: inline;
    padding:60px;
    position: relative;
    text-align: center;
    position: relative;
    right: -41%;
  }

ul a {
    color: black;
    text-decoration: none;
}
ul a:hover {
    transition: 1.2s;
    color: white;
}

footer {
    background-color: brown;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }


  @media (max-width: 440px) {
    div {
      padding: 20px;
    }
  }
